<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="InitialProject.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <InitialProject.Properties.Settings>
            <setting name="theme" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="language" serializeAs="String">
                <value>ENG</value>
            </setting>
            <setting name="IsToolTipEnabled" serializeAs="String">
                <value>True</value>
            </setting>
        </InitialProject.Properties.Settings>
    </userSettings>
</configuration>